rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Izinkan pengguna untuk membaca dan memperbarui dokumen profil mereka sendiri
      allow read, update: if request.auth != null && request.auth.uid == userId;
      // Izinkan pengguna untuk membuat dokumen profil mereka sendiri saat mendaftar
      allow create: if request.auth != null;
    }

    // Izinkan pengguna untuk mengelola transaksi mereka sendiri
    match /users/{userId}/transactions/{transactionId} {
      allow read, write, create, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Izinkan pengguna untuk mengelola anggaran mereka sendiri
    match /users/{userId}/budgets/{budgetId} {
      allow read, write, create, delete: if request.auth != null && request.auth.uid == userId;
    }

    // Izinkan pengguna untuk mengelola tagihan mereka sendiri
    match /users/{userId}/bills/{billId} {
      allow read, write, create, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
