@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 170 56% 91%;
    --foreground: 210 10% 23%;
    --card: 170 50% 96%;
    --card-foreground: 210 10% 23%;
    --popover: 170 50% 96%;
    --popover-foreground: 210 10% 23%;
    --primary: 195 35% 43%;
    --primary-foreground: 195 20% 98%;
    --secondary: 185 40% 80%;
    --secondary-foreground: 195 35% 30%;
    --muted: 185 40% 85%;
    --muted-foreground: 185 25% 45%;
    --accent: 28 82% 71%;
    --accent-foreground: 28 80% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 185 30% 75%;
    --input: 185 30% 80%;
    --ring: 195 35% 43%;
    --chart-1: 195 35% 43%;
    --chart-2: 28 82% 71%;
    --chart-3: 185 40% 60%;
    --chart-4: 195 35% 63%;
    --chart-5: 28 82% 81%;
    --radius: 0.5rem;
    --sidebar-background: 195 25% 30%;
    --sidebar-foreground: 195 15% 85%;
    --sidebar-primary: 195 35% 43%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 195 25% 35%;
    --sidebar-accent-foreground: 195 15% 95%;
    --sidebar-border: 195 25% 25%;
    --sidebar-ring: 195 35% 63%;
  }

  .dark {
    --background: 210 15% 12%;
    --foreground: 210 10% 85%;
    --card: 210 15% 15%;
    --card-foreground: 210 10% 85%;
    --popover: 210 15% 15%;
    --popover-foreground: 210 10% 85%;
    --primary: 195 35% 53%;
    --primary-foreground: 195 20% 98%;
    --secondary: 210 15% 25%;
    --secondary-foreground: 210 10% 90%;
    --muted: 210 15% 25%;
    --muted-foreground: 210 10% 60%;
    --accent: 28 82% 71%;
    --accent-foreground: 28 80% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 15% 25%;
    --input: 210 15% 25%;
    --ring: 195 35% 53%;
    --chart-1: 195 35% 53%;
    --chart-2: 28 82% 71%;
    --chart-3: 185 40% 40%;
    --chart-4: 195 35% 33%;
    --chart-5: 28 82% 61%;
    --sidebar-background: 210 15% 12%;
    --sidebar-foreground: 210 10% 85%;
    --sidebar-primary: 195 35% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 15% 20%;
    --sidebar-accent-foreground: 210 10% 95%;
    --sidebar-border: 210 15% 20%;
    --sidebar-ring: 195 35% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}